.container {
	width: 100%;
	max-width: 100%;
	padding: 0 24px;
	margin: 0 auto;

	@media all and (min-width: $md) {
		max-width: 760px
	}

	@media all and (min-width: $lg) {
		max-width: 990px
	}

	@media all and (min-width: $xl) {
		max-width: 1200px
	}

	&-fluid {
		width: 100%;
		max-width: 100%;
		padding: 0 24px
	}
}