.container {
	width: 100%;
	max-width: 100%;
	padding: 0 28px;
	margin: 0 auto;

	@media all and (min-width: $md) {
		max-width: 760px
	}

	@media all and (min-width: $lg) {
		max-width: 952px
	}

	@media all and (min-width: $xl) {
		max-width: 992px;
		padding: 0 24px;
		
	}

	&-fluid {
		width: 100%;
		max-width: 100%;
		padding: 0 20px
	}
}