.header {
    padding-top: 55px;

    @media all and (min-width: $xxl) {
        padding: 20px 0 0px ;
    }

    &.scrolled {
        position: fixed;
        width: 100%;
        background-color: $white;
        box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.05 );
        padding: 15px 0 ;
        z-index: 20;
        transition: padding $tr;

        @media all and (min-width: $xs) {
            padding: 20px 0 ;
        }

        @media all and (min-width: $md) {
            padding: 0 ;
        }

        .header-nav {
            margin-bottom: 15px;
        }

        .nav-items {
            padding-bottom: 15px;
        }

        .burger-button {
            top: 30px;
            right: 31px;
        }
    } 
}