.header-nav {
    width: 100%;
    position: relative;
    background: $white;
    z-index: 40;

    @media all and (min-width: $md) {
		background: transparent;
        position: static;
        margin-bottom: 40px;
	}

    @media all and (min-width: $xl) {
        margin-bottom: 60px;
    }

    @media all and (min-width: $xxl) {
        margin-bottom: 32px;
    }

    .nav-items {
        display: none; 
        width: 100%;
        flex-direction: column;
        padding-top: 10px;

        @media all and (min-width: $md) {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-left: 0;
            border-bottom: 2px solid $grey;
            padding-bottom: 15px;
        }

        @media all and (min-width: $xxl) {
            padding-bottom: 35px;
        }

        &.opened {
            display: flex;
            height: 100vh;
            padding-top: 50px;
            overflow-y: auto;
            padding: 20px;
            
            @media all and (min-width: $md) {
                display: none;
            }
        }

        .nav-item{
            margin-bottom: 40px;
            font-family: $bold;
            font-size: $fs-title;
            animation: marg 1s;
            padding-left: 20px;

            @media all and (min-width: $md) {
                font-size: $fs-main;
                animation: none;
                margin-bottom: 0;
                padding-left: 0;
            }

            @keyframes marg{
                0% {
                    margin-bottom: 0;
                }

                100% {
                    margin-bottom: 40px;
                }    
            }
        }
    }
    
    .header-lang {
        display: none;
        width: 142px;
        cursor: pointer;
        transform: rotate(90deg);
        position: absolute;
        bottom: 150px;
        right: -50px;

        @media all and (min-width: $xs) {
        }

        .lang {
            font-family: $bold;
            font-weight: $fw700;
            font-size: $fs-title;
            color: $grey;
            transition: $tr;
        }

        .lang-separ {
            font-family: $bold;
            font-weight: $fw700;
            margin: 0 5px;
            font-size: $fs-title;
        }

        &.opened {
            display: flex;

            @media all and (min-width: $md) {
                display: none;
            }

            .lang.active {
                color: $black;
            }   
        }
    }
}